[submodule "wiwagocu-lito"]
	path = wiwagocu-lito
	url = https://github.com/sveltejs/svelte.git
[submodule "puludedy-caryxyqa"]
	path = puludedy-caryxyqa
	url = https://github.com/golang/go.git
[submodule "hiwifako-busaxu"]
	path = hiwifako-busaxu
	url = https://github.com/openai/openai-python.git
[submodule "jasyka-gypyno"]
	path = jasyka-gypyno
	url = https://github.com/d3/d3.git
[submodule "firo-vozefete"]
	path = firo-vozefete
	url = https://github.com/grpc/grpc.git
[submodule "mywopi-roditogy"]
	path = mywopi-roditogy
	url = https://github.com/freeCodeCamp/freeCodeCamp.git
[submodule "rogowa-xuce"]
	path = rogowa-xuce
	url = https://github.com/microsoft/vscode.git
[submodule "rekoxymi-naduse"]
	path = rekoxymi-naduse
	url = https://github.com/expressjs/express.git
[submodule "hicodeko-qive"]
	path = hicodeko-qive
	url = https://github.com/kubernetes/kubernetes.git
[submodule "mina-gemi"]
	path = mina-gemi
	url = https://github.com/tailwindlabs/tailwindcss.git
[submodule "vacoce-qojetawo"]
	path = vacoce-qojetawo
	url = https://github.com/angular/angular.git
[submodule "ducywi-buneloto"]
	path = ducywi-buneloto
	url = https://github.com/flask/flask.git
