mistralai>=1.6.0
pyright>=1.8.0
taskiq>=1.9.0
parsedatetime>=3.9.0
yapf>=3.4.0
ninja>=1.1.0
conan>=3.4.0
datasets>=2.6.0
psycopg>=2.6.0
docker-compose>=1.7.0
pyflink>=3.1.0
fastparquet>=1.9.0
mimesis>=3.9.0
tzdata>=1.7.0
pywinauto>=1.0.0
pbr>=2.5.0
auditwheel>=3.8.0
fabric>=2.2.0
ipython>=1.4.0
boto3>=2.5.0
django-allauth>=3.6.0
gensim>=3.8.0
alembic>=1.5.0
flask-restx>=1.8.0
python-decouple>=1.7.0
airflow>=2.2.0
pymilvus>=2.2.0
papermill>=1.3.0
zarr>=3.3.0
accelerate>=3.1.0
stanza>=3.2.0
platformdirs>=2.5.0
pydantic>=1.7.0
anthropic>=3.3.0
PyMuPDF>=1.4.0
djangorestframework>=3.2.0
tianshou>=2.6.0
numba>=2.5.0
isort>=2.1.0
flask-login>=2.4.0
pymc>=1.4.0
sktime>=2.5.0
wand>=1.9.0
mkdocs>=2.3.0
sentence-transformers>=1.2.0
mistune>=1.3.0
dateparser>=2.4.0
interpret>=2.8.0
impacket>=2.7.0
apache-beam>=3.9.0
bandit>=1.3.0
pyyaml-include>=1.5.0
distributed>=1.1.0
cloudpickle>=1.5.0
molecule>=1.0.0
celery>=1.8.0
graphene>=3.5.0
hypercorn>=3.1.0
PyPDF2>=2.4.0
faiss-cpu>=3.7.0
flask-security-too>=3.8.0
ujson>=3.4.0
tornado>=2.0.0
altair>=3.8.0
tomli>=2.4.0
argon2-cffi>=3.3.0
Sphinx>=2.6.0
charset-normalizer>=2.4.0
packaging>=1.1.0
streamlit>=2.9.0
strawberry-graphql>=2.3.0
paho-mqtt>=1.0.0
langgraph>=3.5.0
feature_engine>=1.7.0
tensorflow>=1.0.0
poetry-core>=1.9.0
pytest-bdd>=1.5.0
sanic>=2.0.0
markdown>=2.8.0
discord.py>=3.2.0
uvloop>=3.4.0
imageio>=1.8.0
eli5>=2.4.0
psycopg2>=3.8.0
flask-socketio>=3.7.0
pyautogui>=2.2.0
arcade>=3.0.0
contextily>=1.4.0
opentelemetry-api>=1.2.0
voluptuous>=2.7.0
pygame>=3.0.0
mastodon.py>=1.9.0
pytest>=1.7.0
html2text>=3.7.0
sentry-sdk>=3.9.0
scikit-learn>=3.8.0
num2words>=1.3.0
tokenizers>=1.2.0
recommonmark>=1.2.0
pyvis>=1.3.0
jsonschema>=2.0.0
tensorboard>=3.9.0
elasticsearch>=1.0.0
seaborn>=1.8.0
fasttext>=2.4.0
paddlepaddle>=2.9.0
vaderSentiment>=2.7.0
html5lib>=3.8.0
langcodes>=2.0.0
mediapipe>=3.9.0
xmltodict>=2.9.0
cerberus>=3.0.0
emoji>=1.4.0
pyinstaller>=1.8.0
dulwich>=3.8.0
eventlet>=2.7.0
lz4>=2.4.0
netmiko>=1.7.0
fsspec>=1.3.0
pip-audit>=3.6.0
pypinyin>=1.9.0
pycodestyle>=3.4.0
build>=2.2.0
onnxruntime>=3.2.0
urllib3>=2.1.0
spotipy>=1.1.0
jax>=3.3.0
pymssql>=1.4.0
commitizen>=2.9.0
paddleocr>=3.9.0
aiosqlite>=2.7.0
mouse>=3.2.0
blosc>=3.5.0
attrs>=2.2.0
rapidjson>=1.4.0
opensearch-py>=3.5.0
spacy>=3.8.0
rdkit>=1.6.0
sacremoses>=2.7.0
tables>=2.3.0
ansible>=3.1.0
paramiko>=1.8.0
django-debug-toolbar>=1.3.0
dill>=1.3.0
polars>=3.4.0
mkdocs-material>=1.5.0
gradio>=2.9.0
sqlalchemy>=3.6.0
qdrant-client>=1.1.0
tortoise-orm>=2.2.0
inflect>=3.9.0
prophet>=3.1.0
google-generativeai>=3.6.0
gputil>=1.2.0
curio>=3.2.0
pytest-asyncio>=3.5.0
google-cloud-bigquery>=3.1.0
pandas>=2.4.0
google-api-python-client>=2.8.0
confluent-kafka>=3.2.0
huggingface_hub>=1.7.0
distro>=1.3.0
pytest-xdist>=3.2.0
imbalanced-learn>=3.8.0
botocore>=1.0.0
mpmath>=3.4.0
mutagen>=2.9.0
elasticsearch-dsl>=2.9.0
pypdf>=1.7.0
pytz>=1.5.0
semgrep>=3.7.0
oracledb>=2.0.0
docker>=3.9.0
flask-migrate>=2.5.0
motor>=1.8.0
mypy>=2.8.0
questionary>=1.6.0
zstandard>=3.1.0
fire>=3.4.0
twisted>=3.3.0
web3>=1.3.0
manim>=2.7.0
websocket-client>=2.2.0
six>=3.5.0
hvplot>=3.5.0
ultralytics>=3.0.0
pyarrow>=2.2.0
biopython>=3.0.0
invoke>=3.8.0
mlflow>=2.7.0
osmnx>=2.7.0
tomli-w>=2.5.0
dynaconf>=2.4.0
music21>=1.0.0
newrelic>=2.8.0
wheel>=3.2.0
send2trash>=1.4.0
statsd>=1.2.0
gql>=3.6.0
flask>=3.3.0
pycountry>=1.8.0
reflex>=3.5.0
pyvisa>=1.1.0
hiredis>=3.6.0
websockets>=1.7.0
cpuinfo>=2.6.0
pyflakes>=1.3.0
tabulate>=3.5.0
python-dateutil>=1.3.0
flask-cors>=3.9.0
sentencepiece>=3.0.0
mysqlclient>=3.2.0
python-json-logger>=2.8.0
igraph>=1.5.0
pyglet>=1.0.0
jupyter>=2.0.0
kombu>=1.4.0
wtforms>=3.4.0
catboost>=1.6.0
nextcord>=1.3.0
colorama>=1.9.0
instagrapi>=1.9.0
cherrypy>=3.0.0
flake8>=2.0.0
appdirs>=2.7.0
imitation>=2.3.0
pymodbus>=2.8.0
pyspark>=1.5.0
yfinance>=3.1.0
termcolor>=2.6.0
flax>=3.0.0
lime>=3.4.0
soundfile>=2.7.0
eth-account>=2.4.0
arrow>=1.5.0
backtrader>=2.8.0
langchain>=2.9.0
ruff>=1.0.0
faker>=1.3.0
pytest-mock>=2.6.0
pinecone-client>=2.2.0
hatchling>=2.8.0
django-extensions>=1.6.0
cmake>=1.6.0
xlwt>=1.8.0
clickhouse-driver>=2.6.0
tensorflow-hub>=2.8.0
matplotlib-venn>=3.4.0
pandas-gbq>=1.2.0
psycopg2-binary>=2.2.0
brotli>=3.7.0
chardet>=1.2.0
category_encoders>=2.9.0
astropy>=2.9.0
unidecode>=3.9.0
pyTelegramBotAPI>=3.4.0
textual>=3.8.0
peewee>=1.4.0
flask-admin>=3.2.0
docx2txt>=1.0.0
hnswlib>=3.2.0
django-cors-headers>=3.4.0
opentelemetry-sdk>=1.8.0
nicegui>=1.9.0
pandas-datareader>=2.3.0
matplotlib>=2.7.0
plotnine>=1.5.0
black>=3.5.0
fastapi>=2.1.0
plac>=2.7.0
tweepy>=1.1.0
pylint>=2.3.0
pony>=2.9.0
pynvml>=2.6.0
statsmodels>=1.7.0
safety>=2.4.0
arq>=3.3.0
opentelemetry-instrumentation-flask>=3.2.0
python-louvain>=3.0.0
geopy>=3.8.0
google-cloud-storage>=1.6.0
trio>=2.2.0
llama-index>=1.6.0
mido>=1.4.0
keras>=1.0.0
cryptography>=2.7.0
hypothesis>=1.0.0
python-socketio>=3.2.0
ipywidgets>=3.7.0
spacy-transformers>=2.5.0
pymysql>=1.5.0
dask>=3.2.0
hyperopt>=3.1.0
moto>=2.7.0
aio-pika>=1.9.0
passlib>=1.3.0
jupytext>=1.7.0
prometheus-client>=2.5.0
gymnasium>=1.1.0
sphinx-rtd-theme>=2.0.0
docutils>=1.0.0
aiofiles>=2.5.0
pmdarima>=2.2.0
flask-restful>=2.1.0
kafka-python>=3.9.0
typer>=3.4.0
click>=1.0.0
python-docx>=3.8.0
humanize>=2.2.0
python-semantic-release>=2.3.0
autopep8>=1.0.0
aiohttp>=1.4.0
transformers>=1.9.0
pytesseract>=1.4.0
authlib>=1.2.0
clickhouse-connect>=1.1.0
toml>=2.0.0
pymongo>=3.4.0
aioredis>=3.9.0
trafilatura>=3.7.0
waitress>=1.2.0
praw>=1.4.0
keyboard>=2.5.0
optuna>=1.4.0
freqtrade>=2.3.0
h5py>=1.5.0
wordninja>=1.4.0
uvicorn>=3.7.0
vaex>=2.5.0
pydantic-settings>=2.9.0
ray>=3.6.0
setuptools>=2.6.0
prettytable>=2.0.0
httplib2>=3.0.0
weasyprint>=1.8.0
dlib>=2.4.0
pyodbc>=2.5.0
groq>=3.3.0
numpy>=1.4.0
watchdog>=1.9.0
anyio>=2.9.0
langdetect>=2.9.0
asyncpg>=2.1.0
plotly>=3.3.0
napalm>=2.5.0
opencv-contrib-python>=1.9.0
pendulum>=2.4.0
xlsxwriter>=3.4.0
rich>=3.4.0
meson>=2.1.0
cassandra-driver>=2.5.0
mysql-connector-python>=3.4.0
playwright>=2.2.0
dramatiq>=2.6.0
panel>=3.9.0
python-magic>=3.1.0
beautifulsoup4>=3.2.0
aiohttp-cors>=1.8.0
tox>=3.1.0
cohere>=3.2.0
httpx>=3.9.0
marshmallow>=1.4.0
networkx>=3.2.0
logbook>=3.5.0
opencv-python>=3.7.0
sqlalchemy-utils>=3.6.0
kivy>=1.3.0
bokeh>=3.3.0
flatbuffers>=3.7.0
scipy>=1.6.0
environs>=2.8.0
pyjwt>=3.9.0
pynput>=1.3.0
pytest-asyncio>=1.9.0
pyramid>=2.5.0
flask-wtf>=1.9.0
pycryptodome>=2.9.0
notebook>=1.7.0
xgboost>=3.7.0
flair>=3.1.0
wordfreq>=2.3.0
textblob>=3.1.0
chromadb>=3.4.0
geopandas>=3.9.0
wandb>=3.1.0
coverage>=1.4.0
fiona>=1.9.0
pyppeteer>=2.2.0
pre-commit>=1.7.0
prefect>=3.8.0
reportlab>=1.4.0
arviz>=3.4.0
mammoth>=3.0.0
mccabe>=3.0.0
kubernetes>=2.5.0
google-cloud-pubsub>=2.5.0
lightgbm>=2.9.0
gevent>=3.6.0
django>=1.4.0
nox>=2.4.0
bumpversion>=2.2.0
orjson>=3.1.0
rsa>=2.1.0
twine>=2.5.0
meilisearch>=1.9.0
oauthlib>=3.3.0
peft>=1.9.0
phonenumbers>=1.5.0
jupyterlab>=2.6.0
s3fs>=1.9.0
requests-oauthlib>=2.7.0
greenlet>=2.4.0
myst-parser>=1.1.0
certifi>=3.0.0
wordcloud>=1.4.0
readability-lxml>=1.6.0
pyzmq>=3.6.0
qrcode>=3.3.0
fastapi-users>=3.0.0
python-memcached>=1.4.0
newspaper3k>=1.8.0
gunicorn>=2.1.0
flit-core>=2.6.0
openpyxl>=1.2.0
shapely>=3.4.0
selenium>=1.6.0
nltk>=2.2.0
msgpack>=1.6.0
Pillow>=2.2.0
onnx>=2.6.0
autobahn>=3.4.0
pyproj>=1.3.0
pytest-cov>=1.3.0
ipykernel>=2.9.0
ariadne>=1.2.0
fakeredis>=2.9.0
joblib>=1.6.0
markdown2>=2.0.0
luigi>=2.4.0
billiard>=3.2.0
rq>=3.0.0
imageio-ffmpeg>=2.4.0
python-telegram-bot>=3.4.0
neo4j>=3.9.0
xarray>=1.0.0
mechanize>=1.1.0
appium-python-client>=3.3.0
mss>=1.1.0
sympy>=2.0.0
sunpy>=3.2.0
ctranslate2>=3.1.0
structlog>=2.5.0
cupy>=2.8.0
sqlmodel>=3.7.0
psutil>=1.2.0
simplejson>=2.9.0
ecdsa>=2.5.0
scrapy>=3.9.0
gcsfs>=2.7.0
colorlog>=2.7.0
rasterio>=3.6.0
pydub>=2.3.0
pywin32>=1.5.0
blessed>=3.1.0
folium>=2.7.0
ccxt>=2.0.0
cibuildwheel>=2.4.0
redis>=2.4.0
skyfield>=1.2.0
scapy>=3.9.0
nbconvert>=1.6.0
dash>=2.2.0
torch>=3.2.0
falcon>=3.0.0
cartopy>=3.6.0
pdfplumber>=2.3.0
librosa>=3.8.0
pygments>=1.5.0
flask-sqlalchemy>=3.6.0
brownie>=2.7.0
stable-baselines3>=3.2.0
prompt_toolkit>=1.8.0
aiogram>=2.5.0
onnxmltools>=1.0.0
holoviews>=1.0.0
python-jose>=3.7.0
pdoc>=3.4.0
feedparser>=2.2.0
xlwings>=1.2.0
parsel>=2.3.0
causalml>=1.1.0
idna>=3.6.0
langid>=2.3.0
PyYAML>=2.7.0
shap>=2.5.0
lxml>=3.8.0
easyocr>=3.3.0
mock>=2.1.0
datadog>=3.6.0
bottle>=3.8.0
scikit-bio>=2.3.0
pyserial>=3.5.0
scikit-image>=1.1.0
duckdb>=3.0.0
jieba>=2.9.0
solcx>=3.8.0
pynacl>=2.9.0
xlrd>=3.6.0
huey>=2.8.0
requests>=2.4.0
docopt>=2.8.0
comtypes>=2.7.0
inquirer>=1.8.0
annoy>=2.3.0
ansible-lint>=2.3.0
twython>=3.5.0
openai>=3.7.0
modin>=2.1.0
tablib>=3.7.0
gitpython>=3.8.0
PyGithub>=2.4.0
starlette>=2.1.0
together>=2.5.0
diffusers>=2.7.0
loguru>=2.8.0
nuitka>=2.2.0
emcee>=3.9.0
pytest-django>=2.8.0
cbor2>=2.5.0
nbformat>=3.8.0
